
@{
    ViewBag.Title = "Index";
}
<div class="inner-page-banner-area" style="background-image: url('~/App_Themes/Home/Images/5.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h1>Our Lecturers_01</h1>
            <ul>
                <li><a href="#">Home</a> -</li>
                <li>Lecturers</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Page Banner Area End Here -->
<!-- Lecturers Page 1 Area Start Here -->
<div class="shop-page2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 c">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="courses-page-top-area">
                            <div class="courses-page-top-left">
                                <h3 class="sidebar-title">Search</h3>
                            </div>
                            <div class="courses-page-top-right">
                                <form id="checkout-form">

                                    <div class=" course-name">
                                        <input id="first-name" placeholder="Course Name" class="form-control" type="text">

                                    </div>
                                    <button class="sidebar-search-btn disabled" type="submit" value="Login">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Listed product show -->
                        <div class="tab-pane active" id="list-view">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="product-box2">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="img-responsive" src="~/App_Themes/Home/Images/logo.jpg" alt="product">
                                        </a>
                                        <div class="media-body">
                                            <div class="product-box2-content">
                                                <h3><a href="#">Money Book - Finance</a></h3>

                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4" data-id="3461121">
                                                    <div class="avatar" data-original-title="" title="" aria-describedby="popover323545">
                                                        <img src="" class="level-avatar" alt=""><img src="" class="user-avatar" alt="">
                                                    </div>
                                                    <div class="info">
                                                        <span>19130259@st....</span>
                                                        <p>
                                                            <img class="top-item" src="~/App_Themes/Home/Images/top1.png">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4" data-id="3461121">
                                                    <div class="avatar" data-original-title="" title="" aria-describedby="popover323545">
                                                        <img src="" class="level-avatar" alt=""><img src="" class="user-avatar" alt="">
                                                    </div>
                                                    <div class="info">
                                                        <span>19130259@st....</span>
                                                        <p>
                                                            <img class="top-item" src="~/App_Themes/Home/Images/top2.png">
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4" data-id="3461121">
                                                    <div class="avatar" data-original-title="" title="" aria-describedby="popover323545">
                                                        <img src="" class="level-avatar" alt=""><img src="" class="user-avatar" alt="">
                                                    </div>
                                                    <div class="info">
                                                        <span>19130259@st....</span>
                                                        <p>
                                                            <img class="top-item" src="~/App_Themes/Home/Images/top3.png">
                                                        </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="pagination-center">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

