@model PagedList.IPagedList<InstutiteOfFineArt.Core.Model.User>
@using PagedList.Mvc;
@using System.Globalization;

@{
    ViewBag.Title = "Home Page";
}

<!-- Header Area End Here -->
<!-- Inner Page Banner Area Start Here -->
<div class="inner-page-banner-area" style="background-image: url('/App_Themes/Home/Images/5.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h1>Our Lecturers_01</h1>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="about-page1-area">
    <div class="container">
        <div class="row about-page1-inner">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about-page-content-holder">
                    <div class="content-box">
                        <h2>Who We Are</h2>
                        <p>Tmply dummy text of the printing and typesetting indust Lorem Ipsum has been theindustry's standard dummy text ever since simply dummy text of the printing and etypesetting industry. Lorem Ipsum has been the induststandard dummy text ever since en an unknown printer took a galley of type scrambledmaining.</p>
                    </div>
                    <div class="content-box">
                        <h2>What We Do</h2>
                        <p>Tmply dummy text of the printing and typesetting indust Lorem Ipsum has been theindustry's standard dummy text ever since simply dummy text of the printing and etypesetting industry. Lorem Ipsum has been the induststandard dummy text ever since en an unknown printer took a galley of type scrambledmaining.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about-page-img-holder">
                    <img src="~/App_Themes/Home/Images/e.jpg" class="img-responsive" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inner Page Banner Area End Here -->
<!-- Lecturers Page 1 Area Start Here -->
<div class="lecturers-page1-area">

    <div class="container">
        <h2 class="title-default-left">Our Skilled Lecturers</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item">
                        <div class="lecturers1-item-wrapper">
                            <div class="lecturers-img-wrapper">
                                @if (item.Avartar.IsEmpty())
                                {
                                    <a href="#"><img class="img-responsive" src="/Images/default-avatar-male.png" alt="team"></a>

                                }
                                else
                                {
                                    <a href="#"><img class="img-responsive" src="@item.Avartar" alt="team"></a>
                                }
                            </div>
                            <div class="lecturers-content-wrapper">
                                <h3 class="item-title"><a href="#">@item.UserName</a></h3>
                                <span class="item-designation">Senior Finance Lecturer</span>
                                <ul class="lecturers-social">
                                    <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
        @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="pagination-center">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="pagination-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, size = ViewBag.currentSize, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.CurrentFilter }),
                        new PagedListRenderOptions()
                        {
                            LiElementClasses = new List<string> { }
                        }
                    )
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="counter-area bg-primary-deep" style="background-image: url('img/banner/4.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 counter1-box wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".20s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h2 class="about-counter title-bar-counter" data-num="80">80</h2>
                <p>PROFESSIONAL TEACHER</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 counter1-box wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".40s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
                <h2 class="about-counter title-bar-counter" data-num="20">20</h2>
                <p>NEWS COURSES EVERY YEARS</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 counter1-box wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".60s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.6s; animation-name: fadeInUp;">
                <h2 class="about-counter title-bar-counter" data-num="56">56</h2>
                <p>NEWS COURSES EVERY YEARS</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 counter1-box wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".80s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.8s; animation-name: fadeInUp;">
                <h2 class="about-counter title-bar-counter" data-num="77">77</h2>
                <p>REGISTERED STUDENTS</p>
            </div>
        </div>
    </div>
</div>
<!-- Lecturers Page 1 Area End Here -->
<!-- Footer Area Start Here -->